.mainContainer {
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 6.375rem 1.5625rem 4.5625rem; */
    height: 100vh;
    overflow: hidden;
}

.videoContainer {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  opacity: 1;
  font-size: 4rem;
  letter-spacing: 0;
  color: white;
}

.dataContainer {
  position: relative;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 1rem;
  line-height: 1.5rem;
}

.values {
  font-size: 2.25rem;
  line-height: 2.875rem;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
